<div id="report_filter">
    <div class="form-group">
        <div class="fg-line">
            <select onchange="modules['reports'].click()" id="survey_id" class="selectpicker"></select>
        </div>
    </div>
</div>