<div class="container-inner">
    <div class="card">
        <div class="table-responsive">
            <table id="data-table-report" class="table table-striped">
                <thead>
                <tr>
                    <td>#</td>
                    <td>id</td>
                    <td>Date</td>
                    <td>Vote Details</td>
                    <td>Winner count</td>
                    <td>Vote Result</td>
                    <td></td>
                </tr>
                </thead>
                <tbody></tbody>

            </table>
        </div>
    </div>

</div>