
<div id="report_view" class="container">
    <div class="container-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body card-padding font-size-1_5em" id="p"></div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4"></div>

                </div>
            </div>
            <div id="variants" class="col-md-12"></div>
         </div>
    </div>
</div>
