@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 600;
  src: url(../../../assert/icons/material-icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../../assert/icons/material-icons/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../../assert/icons/material-icons/MaterialIcons-Regular.woff) format('woff'),
       url(../../../assert/icons/material-icons/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/*.material-icons.track_changes:before{*/
  /*content: "\&#xE8E1;"*/
/*}*/


.material-icons.text-red-600 {
  color : #e53935
}

.material-icons.text-red-600:hover {
  color : #b71c1c
}

.material-icons.text-purple-50{
  color: #F3E5F5;
}
.material-icons.text-purple-100{
  color: #E1BEE7;
}
.material-icons.text-purple-200{
  color: #CE93D8;
}
.material-icons.text-purple-300{
  color: #BA68C8;
}
.material-icons.text-purple-400{
  color: #AB47BC;
}
.material-icons.text-purple-500{
  color: #9C27B0;
}
.material-icons.text-purple-600{
  color: #8E24AA;
}
.material-icons.text-purple-700{
  color: #7B1FA2;
}
.material-icons.text-purple-800{
  color: #6A1B9A;
}
.material-icons.text-purple-900{
  color: #4A148C;
}


.material-icons.text-purple-50:hover{
  color: #4A148C;
}
.material-icons.text-purple-100:hover{
  color: #4A148C;
}
.material-icons.text-purple-200:hover{
  color: #4A148C;
}
.material-icons.text-purple-300:hover{
  color: #4A148C;
}
.material-icons.text-purple-400:hover{
  color: #4A148C;
}
.material-icons.text-purple-500:hover{
  color: #4A148C;
}
.material-icons.text-purple-600:hover{
  color: #4A148C;
}
.material-icons.text-purple-700:hover{
  color: #4A148C;
}
.material-icons.text-purple-800:hover{
  color: #4A148C;
}
.material-icons.text-purple-900:hover{
  color: #4A148C;
}

