<div class="container-inner">
    <div class="card">
        <div class="table-responsive vugar">
            <table id="data-table-questionnaire"  class="table table-striped">
                <thead>
                <tr>
                    <td style="width: 5%">#</td>
                    <td>Content</td>
                    <td>Privacy</td>
                    <td>Type</td>
                    <td>Time interval</td>
                    <td>questionnaire_movement_id</td>
                    <td style="width: 10%"></td>
                </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>

</div>