<div class="modal-dialog">
    <!-- Modal content-->
    <div id="questionnaire_operation" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add questionnaire</h4>
        </div>
        <div class="modal-body">
            <div class="row">
               <!-- <div class="col-lg-12">
                    <div class="form-group">
                        <label>Survey</label>
                        <select id="survey-questionnaire_operation" class="selectpicker"></select>
                    </div>
                </div>-->
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Question type</label>
                        <select id="question_type" class="selectpicker"></select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Privacy</label>
                        <select type="text" class="selectpicker" id="privacy_type"></select>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Content</label>
                        <textarea class="form-control" id="content_text"></textarea>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Time Interval</label>
                        <input data-inputmask="'mask': '9', 'repeat': 3, 'greedy' : false" type="text" class="form-control" id="time_interval">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Total votes</label>
                        <input data-inputmask="'mask': '9', 'repeat': 3, 'greedy' : false" type="text" class="form-control" id="vote_count">
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Variant Count</label>
                        <input data-inputmask="'mask': '9', 'repeat': 3, 'greedy' : false" type="text" class="form-control" id="variant_count"/>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="form-group">
                        <label>Winner count</label>
                        <input data-inputmask="'mask': '9', 'repeat': 3, 'greedy' : false" type="text" class="form-control" id="winner_count"/>
                    </div>
                </div>
                <div id="variants" style="display: none;" class="col-lg-12">
                    <div class="form-group">
                        <table id="data-table-questionnaire-variants" class="table table-striped w-100">
                            <thead>
                                <tr>
                                    <td>#</td>
                                    <td>id</td>
                                    <td>Variant</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                
                
                
                <!--<div class="col-lg-12" >
                    <div id="variants" class="form-group" style="display: none;">
                    </div>
                </div>-->
            </div>

            <div></div>
        </div>
        <div class="modal-footer">
            <label preloader-container class="pull-left"></label>
            <button id="questionnaire_operation_confirm" type="button" class="pull-right btn btn-primary" data-dismiss="modal">Confirm</button>
        </div>
    </div>

</div>