<div class="container-inner">
    <div class="card">
        <div>
            <div class="table-responsive">
                <table id="data-table-participants" class="table table-striped">
                    <thead>
                    <tr>
                        <td>#</td>
                        <td>Full name</td>
                        <td>User name</td>
                        <td>Password</td>
                        <td>User type Id</td>
                        <td>Country</td>
                        <td>User type</td>
                        <td>CountryId</td>
                        <td>Survey id</td>
                        <td>First name</td>
                        <td>Last name</td>
                        <td>Middle name</td>
                        <td></td>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>