<div class="modal-dialog">
    <!-- Modal content-->
    <div id="participant_operation" class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add user</h4>
        </div>
        <div class="modal-body">


                        <div class="form-group">
                            <label>Survey</label>
                            <select id="survey" class="selectpicker"></select>
                        </div>

            <div class="form-group">
                            <label>Country</label>
                            <select id="country" class="selectpicker"></select>
                        </div>
            <div class="form-group">
                <label>First name</label>
                <input type="text" class="form-control" id="first_name">
            </div>
            <div class="form-group">
                <label>Last name</label>
                <input type="text" class="form-control" id="last_name">
            </div>
            <div class="form-group">
                <label>Middle name</label>
                <input type="text" class="form-control" id="middle_name">
            </div>

            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <!--<div class="form-group">
                <label>Password</label>
                <input type="text" class="form-control" id="password">
            </div>-->
        </div>
        <div class="modal-footer">
            <label preloader-container class="pull-left">

            </label>
            <button id="participation_operation_confirm" type="button" class="pull-right btn btn-primary" data-dismiss="modal">Confirm</button>
        </div>
    </div>

</div>