<div class="form-group">
    <div class="fg-line">
        <input type="text" class="form-control input-sm" placeholder="Input Small">
    </div>
</div>

<div class="form-group">
    <div class="fg-line">
        <input type="text" class="form-control" placeholder="Input Default">
    </div>
</div>

<div class="form-group">
    <div class="fg-line">
        <input type="text" class="form-control input-lg" placeholder="Input Large">
    </div>
</div>