<div class="container-inner">
    <div class="card">
        <div class="table-responsive">
            <table id="data-table-survey" class="table table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>id</td>
                        <td>Name</td>
                        <td>Create Date</td>
                        <td>End date</td>
                        <td>User <br>count</td>
                        <td>Question <br>count</td>
                        <td>Active</td>
                        <td></td>
                    </tr>
                </thead>
            </table>
        </div>
    </div>


</div>