<div class="modal-dialog" >
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Add Survey</h4>
        </div>
        <div class="modal-body" >
            <div class="row">
                <div class="col-lg-12">

                    <div class="form-group">
                        <label>Survey name</label>
                        <div class="fg-line">
                            <input id="survey-name" type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-10" >
                    <div class="form-group" id="select_div" >
                        <label>Select member</label>
                        <select id="survey-members-combo" data-live-search="true" class="selectpicker form-control"></select>
                    </div>
                </div>
                <div class="col-lg-2" id="click_button">
                    <div class="form-group">
                        <label class="text-white">click plus</label>
                        <a href="javascript:void(0)" class="btn btn-default" style="float: right;" onclick="survey_members_add_2_table()"><i class="zmdi zmdi-plus"></i></a>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <label id="summary-count-of-members">Total 0 members</label>
                    </div>
                </div>

                <div class="col-lg-12">
                    <div class="form-group">
                        <table id="data-table-survey-members" class="table-td-vertical-middle table table-striped w-100" >
                            <thead>
                            <tr>
                                <td>##</td>
                                <td>id</td>
                                <td>user_id</td>
                                <td>Country</td>
                                <td></td>
                                <td></td>
                            </tr>
                            </thead>
                            <tbody>
                            <!--<tr>
                                <td></td>
                                <td>Azerbaijan</td>
                                <td></td>
                                <td></td>
                            </tr>-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <label preloader-container class="pull-left"></label>
            <button id="survey_operation" type="button" class="pull-right btn btn-primary waves-effect waves-float">
                Confirm
            </button>
        </div>
    </div>

</div>