<!--
<div id="user_filter">
    <div class="row">
        <div class="col-sm-12 m-b-25">
            <p class="m-b-15 c-black">User type</p>
            &lt;!&ndash;onchange="modules['users'].click()"&ndash;&gt;
            <select id="user_type" class="selectpicker">
            </select>
        </div>
    </div>

    <div class="row"  id="user_survey_id" style="display: none;">
        <div class="col-sm-12 m-b-25">
            <p class="m-b-15 c-black">Survey</p>
            <select onchange="modules['users'].click()"class="selectpicker" id="survey_select">
            </select>
        </div>
    </div>
</div>-->
