@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Light-webfont.eot);
    src: url(../../fonts/roboto/Roboto-Light-webfont.eot?) format('embedded-opentype'), url(../../fonts/roboto/Roboto-Light-webfont.woff) format('woff'), url(../../fonts/roboto/Roboto-Light-webfont.ttf) format('truetype'), url(../../fonts/roboto/Roboto-Light-webfont.svg) format('svg');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Regular-webfont.eot);
    src: url(../../fonts/roboto/Roboto-Regular-webfont.eot?) format('embedded-opentype'), url(../../fonts/roboto/Roboto-Regular-webfont.woff) format('woff'), url(../../fonts/roboto/Roboto-Regular-webfont.ttf) format('truetype'), url(../../fonts/roboto/Roboto-Regular-webfont.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Medium-webfont.eot);
    src: url(../../fonts/roboto/Roboto-Medium-webfont.eot?) format('embedded-opentype'), url(../../fonts/roboto/Roboto-Medium-webfont.woff) format('woff'), url(../../fonts/roboto/Roboto-Medium-webfont.ttf) format('truetype'), url(../../fonts/roboto/Roboto-Medium-webfont.svg) format('svg');
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Bold-webfont.eot);
    src: url(../../fonts/roboto/Roboto-Bold-webfont.eot?) format('embedded-opentype'), url(../../fonts/roboto/Roboto-Bold-webfont.woff) format('woff'), url(../../fonts/roboto/Roboto-Bold-webfont.ttf) format('truetype'), url(../../fonts/roboto/Roboto-Bold-webfont.svg) format('svg');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: satisfy;
    src: url(../../fonts/satisfy/satisfy.eot);
    src: url(../../fonts/satisfy/satisfy.eot?) format('embedded-opentype'), url(../../fonts/satisfy/satisfy.woff) format('woff'), url(../../fonts/satisfy/satisfy.ttf) format('truetype'), url(../../fonts/satisfy/satisfy.svg) format('svg');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: weather-icons;
    src: url(http://byrushan.com/projects/ma/1-7-1/jquery/light/fonts/weather-icons/weather-icons.eot);
    src: url(http://byrushan.com/projects/ma/1-7-1/jquery/light/fonts/weather-icons/weather-icons.eot?) format('embedded-opentype'), url(http://byrushan.com/projects/ma/1-7-1/jquery/light/fonts/weather-icons/weather-icons.woff) format('woff'), url(http://byrushan.com/projects/ma/1-7-1/jquery/light/fonts/weather-icons/weather-icons.ttf) format('truetype'), url(http://byrushan.com/projects/ma/1-7-1/jquery/light/fonts/weather-icons/weather-icons.svg) format('svg');
    font-weight: 400;
    font-style: normal
}


.f-8 {
    font-size: 8px !important
}

.f-9 {
    font-size: 9px !important
}

.f-10 {
    font-size: 10px !important
}

.f-11 {
    font-size: 11px !important
}

.f-12 {
    font-size: 12px !important
}

.f-13 {
    font-size: 13px !important
}

.f-14 {
    font-size: 14px !important
}

.f-15 {
    font-size: 15px !important
}

.f-16 {
    font-size: 16px !important
}

.f-17 {
    font-size: 17px !important
}

.f-18 {
    font-size: 18px !important
}

.f-19 {
    font-size: 19px !important
}

.f-20 {
    font-size: 20px !important
}

.f-25 {
    font-size: 25px !important
}

.f-30 {
    font-size: 30px !important
}

.f-35 {
    font-size: 35px !important
}

.f-50 {
    font-size: 50px !important
}

.f-300 {
    font-weight: 300 !important
}

.f-400 {
    font-weight: 400 !important
}

.f-500 {
    font-weight: 500 !important
}

.f-700 {
    font-weight: 700 !important
}